{% extends 'EpicoftimewastedUserBundle::layout.html.twig' %}

{% block content %}
{% spaceless %}
	<p>{{ 'resetting.check_email'|trans({}, 'EpicoftimewastedUserBundle') }}</p>
{% endspaceless %}
{% endblock %}
