{% extends 'EpicoftimewastedUserBundle::layout.html.twig' %}

{% block content %}
{% spaceless %}
	<p>{{ 'registration.confirmed'|trans({'%username%': user.getUsername()}, 'EpicoftimewastedUserBundle') }}</p>
	{% if app.session is not empty %}
		{% set targetUrl = app.session.get('_security.target_path') %}
		{% if targetUrl is not empty %}
			<p><a href="{{ targetUrl }}">{{ 'registration.confirmed.go_back'|trans({}, 'EpicoftimewastedUserBundle') }}</a></p>
		{% endif %}
	{% endif %}
{% endspaceless %}
{% endblock %}
