{% extends 'EpicoftimewastedUserBundle::layout.html.twig' %}

{% block content %}
<p>An e-mail has been sent to {{ email }} with instructions on how to proceed.  Please check your e-mail and follow the instructions provided.</p>
{% endblock %}