{% extends 'EpicoftimewastedUserBundle::layout.html.twig' %}

{% block content %}
<h2>Unable to confirm the account.</h2>
<p>You can not confirm a new account, because you already have a valid, active account.</p>
{% endblock %}