{% extends 'EpicoftimewastedUserBundle::layout.html.twig' %}

{% form_theme form 'EpicoftimewastedUserBundle:Form:user.html.twig' %}

{% block content %}
<form action="{{ path('epicoftimewasted_user_user_new') }}" method="POST">
	<div id="userForm">
		{{ form_widget(form) }}
{% if captcha is not null %}
		<div id="captcha">
			{{ captcha|raw }}
		</div>
{% endif %}
		<button type="submit">{{ 'userform_submit'|trans([], 'EpicoftimewastedUserBundle') }}</button>
	</div>
</form>
{% endblock %}