{% extends 'EpicoftimewastedUserBundle::layout.html.twig' %}

{% block content %}
<h2>Unable to create a new account.</h2>
<p>You can not create a new account, because you already have a valid, active account.</p>
{% endblock %}