{% extends 'EpicoftimewastedUserBundle::layout.html.twig' %}

{% form_theme form 'EpicoftimewastedUserBundle:Form:user.html.twig' %}

{% block content %}
<form action="{{ path('epicoftimewasted_user_user_confirm_reset_password', {'token': token}) }}" method="POST">
	<div id="userForm" class="twoColumn">
		{{ form_widget(form) }}
		<button type="submit">{{ 'resetpassword_newPassword_submit'|trans([], 'EpicoftimewastedUserBundle') }}</button>
	</div>
</form>
{% endblock %}